/gaz-podelki-kafka/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/gaz-podelki-kafka/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/gaz-podelki-kafka/target/gaz-podelki-kafka-${PROJECT.VERSION}.jar
/gaz-podelki-kafka/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/gaz-podelki-kafka/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/gaz-podelki-kafka/target/maven-archiver/pom.properties
